@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.content {
  font-family: "Roboto", serif;
}
.hx-text-center {
  font-family: "Roboto", serif;
}
.nav-container {
  font-family: "Roboto", serif;
}