@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.content {
    font-family: "Jost", Jost, sans-serif;
  }
.hx-text-center {
  font-family: "Jost", Jost, sans-serif;
}
.nav-container {
  font-family: "Jost", Jost, sans-serif;
}